

<div id="gv-scrolly-1">
    <div class="scroll-wrapper">
        <div class="scroll-inner">
            <div class="gv-arrow-y">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 5px 24.9px" width="5px" height="20px" style="enable-background:new 0 0 5 24.9;" xml:space="preserve"> <polygon points="5,4.3 2.5,0 0,4.3 2,4.3 2,24.9 3,24.9 3,4.3 "/>
                </svg>

                <span class="gv-axis-text">Daily vaccinations per million</span>

            </div>

            <div class="scatterplot-interactive-wrapper">
			</div>

            <div class="gv-arrow-x">
                <div class="gv-left-arrow">
                    <span class="gv-axis-text">Daily deaths per million</span>

                     <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24.9px 5px" width="24.9px" height="5px" style="enable-background:new 0 0 24.9 5;" xml:space="preserve">
                        <polygon points="24.9,2.5 20.6,0 20.6,2 0,2 0,3 20.6,3 20.6,5 "/>
                    </svg>

                    
                </div>
            </div>
        </div>
        <div class="scroll-text">


        <div class="scroll-text__inner">
                <div class="scroll-text__div">
                    <h3>This is Israel’s 2021 pandemic curve</h3>
                    <p>
                        Throughout 2021, <span class="ISR">Israel</span> has managed to roll out its vaccine at impressive speed and show the world that a country can vaccinate its way out of the pandemic.
                    </p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                    <h3>Peak comes in week seven</h3>
                    <p><span class="ISR">This curve</span> shows how Israel’s Covid-19 deaths increased until the <span class="bold">seventh week</span> of the year. But this also shows the week in which its weekly vaccines peaks, before falling again as the vaccines took hold.</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                    <h3>Deaths begin to fall as vaccines are rolled out</h3>
                    <p>Weekly vaccines remained over 10,000 per million for several weeks as the country sough high vaccine coverage. It began to pay off from the  <span class="bold">eighth week</span>, as deaths started to fall dramatically </p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div" style="float: left;">
                    <h3>This is the curve that other countries hope to copy</h3>
                    <p  style="float: right;"><img src="<%= path %>/curve.png" class="arrow-img" style="float: left;">
                    This arrow indicates how Israel’s deaths increased until higher vaccine coverage helped push its curve back to the left-hand side of this chart. It is a pattern that other countries hope to emulate.</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                    <h3>Other countries are now seeing a similar pattern</h3>
                    <p>Although death rates continued growing since the start of their own vaccination campaigns...  
                    </p>

                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                    <p>deaths in <span class="GBR">UK</span> and <span class="USA">US</span> have fallen back dramatically after increasing their vaccinations.
                    </p>

                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                    <h3>And the same can be seen in wealthy European countries</h3>
                    <p>Despite slow starts to their own vaccination campaigns, the same trend is now seen across major European economies; <span class="ESP">Spain</span>, <span class="ITA">Italy</span>, <span class="DEU">Germany</span> and <span class="FRA">France</span>. Deaths are down across the board - even as these countries are vaccinating more people than ever before.</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                    <h3>But developing countries aren’t showing the same patterns</h3>
                    <p>In a worrying sign that the unequal spread of vaccines around the world is creating a two-tier pandemic in which poorer countries are left behind, many <span class="DEU">developing countries</span> are not following the same inverse C pattern of developed countries...
                </p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                    <p>
                    while each of <span class="BRA">Brazil</span>, <span class="ARG">Argentina</span>, <span class="IND">India</span>, <span class="PAK">Pakistan</span> and <span class="ZAF">South Africa</span> are slowly increasing their vaccine rollout, each have yet to see a sustained decrease in the number of Covid-19 deaths they’re facing.
                    </p>
                </div>
            </div>
        </div>

        </div>


</div>
